body {
	background-color: #CED8ED;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: left top;
	background-image: url(../Images/Back.gif);
}

#layout {
	clear: both;
	width: 100%;
	margin: 10px;
	padding: 0px;
}

#header {
	clear: both;
	width: 100%;
	height: 80px;
	margin: 0px;
	padding: 0px;
	border: 1px outset;
	background-color: #2B4FC3;
}

#inHeader {
	clear: both;
	margin: 10px;
	padding: 0px;
	text-align: left;
}

#subHeader {
	clear: both;
	width: 100%;
	height: 24px;
	margin: 0px;
	padding: 0px;
	border: 1px outset;
	background-color: #C0C0C0;
}

#inSubHeader {
	clear: both;
	margin: 5px;
	padding: 0px;
	text-align: left;
}

#content {
	clear: both;
	margin: 0px;
	padding: 0px;
}

#menu {
	float: left;
	width: 20%;
	min-height: 200px;
	margin: 0px;
	padding: 0px;
	border: 1px outset;
	background-color: #2B4FC3;
}

#inMenu {
	clear: both;
	margin: 10px;
	padding: 0px;
	text-align: left;
}

#main {
	float: right;
	width: 79%;
	min-height: 200px;
	margin: 0px;
	padding: 0px;
	border: 1px outset;
	background-color: #FFFFFF;
}

#inMain {
	clear: both;
	margin: 10px;
	padding: 0px;
	text-align: left;
}

#subFooter {
	clear: both;
	width: 100%;
	height: 24px;
	margin: 0px;
	padding: 0px;
	border: 1px outset;
	background-color: #C0C0C0;
}

#inSubFooter {
	clear: both;
	margin: 5px;
	padding: 0px;
	text-align: left;
}

#footer {
	clear: both;
	width: 100%;
	height: 80px;
	margin: 0px;
	padding: 0px;
	border: 1px outset;
	background-color: #2B4FC3;
}

#inFooter {
	clear: both;
	margin: 10px;
	padding: 0px;
	text-align: left;
}
